<div class="input-group">
  <label>
    Min:
    <input [(ngModel)]="min" (ngModelChange)="updateNumbers()" type="number" step="any">
  </label>

  <label>
    Max:
    <input [(ngModel)]="max" (ngModelChange)="updateNumbers()" type="number" step="any">
  </label>

  <label>
    Step:
    <input [(ngModel)]="step" (ngModelChange)="updateNumbers()" type="number" step="any">
  </label>

  <label>
    X:
    <input [(ngModel)]="x" (ngModelChange)="updateNumbers()" type="number" step="any">
  </label>

  <!--  <label>-->
  <!--    Mod Base:-->
  <!--    <input [(ngModel)]="modBase" (ngModelChange)="updateNumbers()" type="number" step="any">-->
  <!--  </label>-->
</div>
<p>Hello, {{ min }} {{ max }}!</p>
<div *ngIf="x == 0" style="background: red">
  One cannot divide by zero.
</div>
<table border="1" style="border-collapse: collapse; margin-top: 1em;">
  <thead>
  <tr>
    <th>#</th>
    <th>Value</th>
    <th>Div Value by {{ x }}</th>
    <th (click)="sortByMod()" style="cursor: pointer;">
      Mod {{ x }} by Value
      <span *ngIf="sortAscending !== null">
    {{ sortAscending ? '↑' : '↓' }}
  </span>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let num of numbers; let i = index">
    <td>{{ i + 1 }}</td>
    <td>{{ num.value }}</td>
    <td>{{ num.div }}</td>
    <td>{{ num.mod }}</td>
  </tr>
  </tbody>
</table>
